---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>
<h2>Contact Me</h2>
<div style="display:flex; flex-wrap:wrap; gap:2rem; align-items:flex-start;">
<!-- LEFT: Skills -->
<div style="flex:1 1 250px; min-width:250px;">
rawr xd
<h2>CV Download</h2>
{% include button
  url="/projects/"
  label="View All Projects"
  class="btn--primary"
%}
</div>
<!-- RIGHT: Skills -->
<div style="flex:1 1 250px; min-width:250px;">
 {% include google-form
  title="Contact Me"
  src="https://forms.gle/YMHu78vRcPWi1chv8"
  height="800"
%}
</div>
</div>

